.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
  }
  
  .input {
    border: none;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
    border-radius: 0 0 0 5px;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rebeccapurple;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
    cursor: pointer;
    border-radius: 0 0 5px 0;
  }

  .sendButton:hover {
    background-color: rgb(81, 0, 161);
  }